.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #003300;
    padding: 20px;
}

.contact-content {
    background-color: white;
    border: 10px solid #ff9469;
    padding: 200px;
    width: calc(100% - 40px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 20px;
    font-size: 50px;
}