.home-welcome {
    background-color: rgba(255, 189, 114, 0.785);
}

.info-grid {
    margin-top: 50px;
    display: inline-grid;
    grid-template-columns: 1fr ;
    align-items: center;
    grid-gap: 10px;
}

.pawsome-park {
    background-color: rgba(136, 255, 127, 0.867);
    color:rgba(255, 153, 0, 0.859);
}

h1 {
    top: 40px;
    margin-bottom: 20px;
    border-radius: 0px;
}

h2 {
    text-align: center;
    font-size: 80px;
    border-radius: 0px;
}